/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font
font-family: 'Outfit', sans-serif;
- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700 */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.container{
    margin: 20px auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    max-width: 340px;
  
}

.image-container{
    text-align: center;
}

img{
    max-width: 300px;
    border-radius: 10px;
    margin: 20px;
}

article h3{
    text-align: center;
    padding: 15px 30px;
    margin: auto; 
    font-size: 22px;
    color: hsl(218, 44%, 22%);
}

article p{
    text-align: center;
    font-size: 15px;
    max-width: 250px;
    margin: auto;
    padding-bottom: 35px;
    color: hsl(220, 15%, 55%);
}